@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Rajdhani:wght@300;400&family=Satisfy&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Rajdhani', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #3d396b;
    background: #14131f;
  }
}
