@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Satisfy', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #3d396b;
    font-family: 'Satisfy', cursive;
    background: #14131f;
  }
}
